.pixapp-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.authbody {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: aquamarine;
  z-index: 10;
}